@font-face {
  font-family: "Aptos";
  font-weight: 200;
  font-weight: lighter;
  src: url("/font/Aptos-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 400;
  font-weight: normal;
  src: url("/font/Aptos.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 500;
  src: url("/font/Aptos-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 700;
  font-weight: bold;
  src: url("/font/Aptos-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 800;
  src: url("/font/Aptos-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 900;
  font-weight: bolder;
  src: url("/font/Aptos-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 200;
  font-style: italic;
  font-weight: lighter;
  src: url("/font/Aptos-Light-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 400;
  font-weight: normal;
  font-style: italic;
  src: url("/font/Aptos-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 500;
  font-style: italic;
  src: url("/font/Aptos-SemiBold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 700;
  font-weight: bold;
  font-style: italic;
  src: url("/font/Aptos-Bold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 800;
  font-style: italic;
  src: url("/font/Aptos-ExtraBold-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Aptos";
  font-weight: 900;
  font-weight: bolder;
  font-style: italic;
  src: url("/font/Aptos-Black-Italic.ttf") format("truetype");
}
